@use '@carbon/react/scss/themes';
@use '@carbon/react/scss/theme';
@use '@carbon/react/scss/components/button/tokens' as button-tokens;
@use '@carbon/themes/scss/utilities';
@use '@carbon/react/scss/components/button';
@use '@carbon/react/scss/components/text-input';
@use '@carbon/react/scss/components/checkbox';
@use '@carbon/react/scss/components/fluid-text-input';
@use '@carbon/react/scss/components/search';
@use '@carbon/react/scss/components/fluid-search';
@use '@carbon/react/scss/components/contained-list';
@import '@carbon/react/scss/theme';
@import '@carbon/react/scss/themes';
@import '@carbon/react/scss/components/button';


.message-actions-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  margin-left: 2rem;
  .quoted-docs-link {
    text-align: left;
    cursor: pointer;
  }
  .message-navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0;
  }
}

.quoted-documents-container {
  padding-left: 2rem;
  .vertical-line {
    border-left: 1px solid $layer-02;
    height: 100%;
    width: 1px;
  }
  .quoted-document {
    padding: 1rem;
    margin-left: 1.8rem;
    background-color: $layer-01;
    border-radius: 3px;
    margin-bottom: 1rem;
    p, h4, h3 {
      margin: 0;
    }
    .quote-law-name {
      margin-bottom: 1rem;
      span {
        font-weight: 300;
        font-size: 0.9rem;
        margin-left: 1rem;
        color: $button-primary;
        font-style: italic;
      }
    }
    .quote-law-part {
      margin-bottom: 0.2rem;
    }
    .quote-text {
      font-style: italic;
    }
    .empty-quote {
      color: $button-danger-primary;
      font-style: italic;
    }
  }
}

.chat-pricing{
  position: absolute;
  right: 3rem;
  top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.8rem;
  border-radius: 4px;
  background-color: $layer-01;
}

.chatbox {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 2rem;
  margin-bottom: 0;
  box-sizing: border-box;
  .hidden {
    height: 0px;
  }
}

.message {
  margin-top: 0.2rem;
  padding: 0rem;
  width: 80%;
  * {
    text-align: left;
    font-size: 0.93rem;
  }
  h4 {
    font-style: italic;
    font-size: 1rem;
  }
  p {
    margin: 0;
    margin-bottom: 0.3rem;
    margin-left: 1.2rem;
  }
  .message-header {
    display: flex;
    height: 2rem;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.2rem;
  }
}

.message-edition-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.assistant-message {
  align-self: start;
  .message-logo {
    width: 2rem;
    height: 2rem;
    color: #fff;
    fill: #fff;
    stroke: #fff;
  }
}

.user-message:hover {
  .message-edit-button {
    opacity: 100;
  }
}
.user-message {
  position: relative;
  h4 {
    text-align: start;
  }
  .message-edit-button {
    transition: opacity 0.3s;
    opacity: 0;
  }
  .message-header::before {
    content: '';
    display: inline-block;
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.5rem;
    background-color: $button-primary;
    border-radius: 50%;
    margin-right: 0.8rem;
  }
  .message-logo {
    display: none;
  }
  align-self: start;
}



.chat-container {
  height: 100%;
  width: 100%;
  background-color: $background;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-typing-box {
  padding: 2rem;
  padding-top: 2rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: end;
  .send-button{ 
    width: 100%;
  }
  
  .message-input {
    width: 2rem;
    display: inline-block;
  }
}

.chatbox-title {
  margin-top: 10%;
  font-size: 3rem;
  .hidden {
    height: 0px;
  }
}

.textlaw-list {
  height: 30rem;
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  box-sizing: border-box;
  overflow-y: hidden;
  width: 100%;
  .hidden {
    height: 0px;
  }
  ul {
    height: 25rem;
    overflow-y: scroll;
  }
}